@charset "UTF-8";
header {
  padding: 0%;
  margin: 0px;
}
header .header-principal {
  background-color: #4A4A4A;
}
header .header-principal .row {
  margin-right: 0px;
}
header .header-principal .row .nav-bar-Sw {
  margin: 0px;
}
header .header-principal .row .nav-bar-Sw div {
  display: flex;
  justify-content: space-evenly;
}
header .header-principal .row .nav-bar-Sw div .a-logo {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 25px;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-normal {
  padding: 10%;
  transition: all;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-normal a {
  text-decoration: none;
  margin: 5px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #e4ffc6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-normal:hover {
  transform: scale(1.2);
}
header .header-principal .row .nav-bar-Sw div div ul .li-button {
  padding: 10%;
  transition: all;
}
header .header-principal .row .nav-bar-Sw div div ul .li-button button {
  color: #e4ffc6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  background-color: #4A4A4A;
  border: 0px solid transparent;
}
header .header-principal .row .nav-bar-Sw div div ul .li-button:hover {
  transform: scale(1.2);
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-tabla {
  padding: 10%;
  transition: all;
  position: relative;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-tabla a {
  text-decoration: none;
  color: #e4ffc6;
  margin: 5px;
  transition: all;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-tabla .dropdown-menu.show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #576c89;
  border-radius: 5px;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-tabla .dropdown-menu.show li {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-principal .row .nav-bar-Sw div div ul .li-item-tabla .dropdown-menu.show li a {
  text-decoration: none;
  color: #e4ffc6;
  margin: 5px;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
header .header-principal .row .div-buscador {
  display: flex;
  justify-content: end;
  align-items: center;
}

main .main-principal {
  background-color: #4A4A4A;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .main-principal section .pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #e4ffc6;
  background: linear-gradient(0deg, rgba(74, 74, 74, 0.5) 58%, rgba(228, 255, 198, 0.5)), url(../imagenes/avatar.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: end;
  padding: 10px;
  overflow-x: hidden;
}
main .main-principal section .pelicula-principal .contenedor .titulo {
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 3.1%;
  font-family: "Roboto Mono", monospace;
}
main .main-principal section .pelicula-principal .contenedor .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 15px;
  margin-left: 3.1%;
  font-family: "Nunito", sans-serif;
}
main .main-principal section .pelicula-principal .contenedor .boton {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  color: #e4ffc6;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.12em;
  padding: 15px;
  margin: 20px;
  font-family: "Nunito", sans-serif;
  margin-left: 3.1%;
}
main .main-principal section .pelicula-principal .contenedor .boton i {
  margin-right: 10px;
}
main .main-principal section .pelicula-principal .contenedor .boton:hover {
  background-color: rgb(87, 108, 137);
  color: #e4ffc6;
}
main .main-principal .peliculas-recomendadas {
  width: 90%;
  margin: 20px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div h3 {
  color: #e4ffc6;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  scroll-margin-top: 90px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-estreno button {
  background-color: #e4ffc6;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-estreno button:hover {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-estreno button.activo {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .flecha-izquierda {
  position: absolute;
  border: none;
  background-color: rgba(87, 108, 137, 0.3);
  font-size: 40px;
  height: 50%;
  top: 25%;
  line-height: 40px;
  width: 50px;
  color: #e4ffc6;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  left: 0;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .flecha-izquierda:hover {
  background-color: rgba(87, 108, 137, 0.9);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-estrenos {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-estrenos .carrousel-estrenos {
  display: flex;
  flex-wrap: nowrap;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-estrenos .carrousel-estrenos .estrenos {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-estrenos .carrousel-estrenos .estrenos a img {
  width: 100%;
  vertical-align: top;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-estrenos .carrousel-estrenos .estrenos:hover {
  transform: scale(1.2);
  transform-origin: center;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background-color: rgba(87, 108, 137, 0.3);
  font-size: 40px;
  height: 50%;
  top: 25%;
  line-height: 40px;
  width: 50px;
  color: #e4ffc6;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  right: 0;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .flecha-derecha:hover {
  background-color: rgba(87, 108, 137, 0.9);
}

html {
  overflow-x: hidden;
}
html body .desaparecer {
  display: none;
}

main .main-principal .peliculas-recomendadas .contenedor-titulo-controles {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div h3 {
  color: #e4ffc6;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  scroll-margin-top: 90px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-comedia button {
  background-color: #e4ffc6;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-comedia button:hover {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-comedia button.activo {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-comedia {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-comedia .carrousel-comedia {
  display: flex;
  flex-wrap: nowrap;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-comedia .carrousel-comedia .comedia {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-comedia .carrousel-comedia .comedia a img {
  width: 100%;
  vertical-align: top;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-comedia .carrousel-comedia .comedia:hover {
  transform: scale(1.2);
  transform-origin: center;
}

footer .footer-principal {
  background-color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-principal .div-logos {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
  margin: 1%;
  gap: 3%;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: lighter;
}
footer .footer-principal .div-enlaces {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
footer .footer-principal .div-enlaces a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 1%;
}
footer .footer-principal .div-enlaces a:hover {
  text-decoration: underline;
}

main .main-principal .peliculas-recomendadas .contenedor-titulo-controles {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div h3 {
  color: #e4ffc6;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  scroll-margin-top: 90px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-accion button {
  background-color: #e4ffc6;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-accion button:hover {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles div .indicadores-accion button.activo {
  background-color: rgb(87, 108, 137);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-accion {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-accion .carrousel-accion {
  display: flex;
  flex-wrap: nowrap;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-accion .carrousel-accion .accion {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-accion .carrousel-accion .accion a img {
  width: 100%;
  vertical-align: top;
}
main .main-principal .peliculas-recomendadas .contenedor-titulo-controles .contenedor-principal .contenedor-carrousel-accion .carrousel-accion .accion:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.html-form {
  height: 100%;
}
.html-form .body-inicio {
  background: linear-gradient(0deg, rgba(74, 74, 74, 0.3) 100%, rgb(228, 255, 198) 100%), url("../Vinilo económicos para decoración, Decoravinilos_ Vinilos baratos Murcia.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.html-form .body-inicio header .header-inicio {
  background-color: rgba(74, 74, 74, 0.9);
  margin: 0px;
  height: 50px;
}
.html-form .body-inicio header .header-inicio h1 {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 30px;
  margin-bottom: 0px;
  padding: 10px;
  position: relative;
  left: 5%;
}
.html-form .body-inicio header .desaparecer {
  display: none;
}
.html-form .body-inicio .main-inicio {
  height: 74.2%;
}
.html-form .body-inicio .main-inicio .main-init section {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.html-form .body-inicio .main-inicio .main-init section form {
  border: transparent solid 1px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 32%;
  background-color: rgba(74, 74, 74, 0.95);
}
.html-form .body-inicio .main-inicio .main-init section form div {
  width: 100%;
  margin: 5px;
}
.html-form .body-inicio .main-inicio .main-init section form div h1 {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 25px;
  margin-bottom: 0px;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio input {
  outline: none;
  background-color: #576c89;
  border: #576c89 solid 1px;
  border-radius: 5%;
  padding: 4px;
  padding-right: 25%;
  color: #e4ffc6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio input::placeholder {
  border: 0px;
  color: white;
  font-family: "Nunito", sans-serif;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio input:focus {
  outline: none;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio p {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5%;
  background-color: red;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio .desaparecer-p {
  display: none;
}
.html-form .body-inicio .main-inicio .main-init section form .inicio-disable {
  display: none;
}
.html-form .body-inicio .main-inicio .main-init section form .registro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.html-form .body-inicio .main-inicio .main-init section form .registro input {
  outline: none;
  background-color: #576c89;
  border: #576c89 solid 1px;
  border-radius: 5%;
  padding: 4px;
  padding-right: 25%;
  color: #e4ffc6;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.html-form .body-inicio .main-inicio .main-init section form .registro input::placeholder {
  border: 0px;
  color: white;
  font-family: "Nunito", sans-serif;
}
.html-form .body-inicio .main-inicio .main-init section form .registro input:focus {
  outline: none;
}
.html-form .body-inicio .main-inicio .main-init section form .registro div {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.html-form .body-inicio .main-inicio .main-init section form .registro div button {
  background-color: #576c89;
  color: white;
  border: white inset 1px;
  border-radius: 5%;
  padding: 4px;
  padding-right: 15%;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.html-form .body-inicio .main-inicio .main-init section form .registro p {
  color: white;
  border-radius: 5%;
  background-color: red;
  font-size: 15px;
  font-weight: 600;
  padding: 2%;
  white-space: nowrap;
}
.html-form .body-inicio .main-inicio .main-init section form .registro .disable-p {
  display: none;
}
.html-form .body-inicio .main-inicio .main-init section form .botones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding-top: 0;
}
.html-form .body-inicio .main-inicio .main-init section form .botones button {
  color: #576c89;
  background-color: #e4ffc6;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.html-form .body-inicio .main-inicio .main-init section form .botones .disable {
  display: none;
}
.html-form .body-inicio .main-inicio .main-init section form .disable {
  display: none;
}
.html-form .body-inicio .main-inicio .main-init .disable {
  display: none;
}
.html-form .body-inicio .disable {
  display: none;
}
.html-form .body-inicio footer .footer-inicio {
  background-color: rgba(74, 74, 74, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.html-form .body-inicio footer .footer-inicio .div-logos {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
  margin: 1%;
  gap: 3%;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: lighter;
}
.html-form .body-inicio footer .footer-inicio .div-enlaces {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.html-form .body-inicio footer .footer-inicio .div-enlaces a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 1%;
}
.html-form .body-inicio footer .footer-inicio .div-enlaces a:hover {
  text-decoration: underline;
}

html {
  overflow-x: hidden;
}

.html-form body main .main-config {
  display: flex;
  justify-content: center;
  padding: 2%;
  align-items: start;
}
.html-form body main .main-config div h1 {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 25px;
  margin-bottom: 0px;
}
.html-form body main .main-config .volver-button {
  display: flex;
  justify-content: end;
  padding: 2%;
  align-items: center;
}
.html-form body main .main-config .volver-button button {
  color: #e4ffc6;
  border-radius: 5%;
  padding: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  border: 0px solid transparent;
  background: none;
}
.html-form body main .main-config .medioPago-cerrarSesion {
  display: flex;
  flex-direction: column;
  border: transparent solid 1px;
  border-radius: 5%;
  gap: 15px;
  background-color: rgba(74, 74, 74, 0.95);
  padding: 1%;
  width: 32%;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario {
  display: flex;
  white-space: nowrap;
  padding: 2%;
  justify-content: center;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #576c89;
  border-radius: 5%;
  padding: 10px;
  margin: 15px;
  justify-content: center;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div:hover {
  background-color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div:hover h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #576c89;
  font-weight: 600;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .primeros2 div:hover button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #576c89;
  border-radius: 5%;
  padding: 10px;
  margin: 15px;
  justify-content: center;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div:hover {
  background-color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div:hover h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #576c89;
  font-weight: 600;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario .segundos2 div:hover button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .desaparecer-primer-ajuste-usuario {
  display: none;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta::-webkit-scrollbar-thumb {
  background-color: rgba(228, 255, 198, 0.9); /* Cambiar el color de fondo a rojo */
  border: #e4ffc6 solid 1px;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta::-webkit-scrollbar {
  background-color: #576c89;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta div {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta div h3 {
  display: flex;
  white-space: nowrap;
  justify-content: start;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.html-form body main .main-config .medioPago-cerrarSesion .datosTarjeta div p {
  display: flex;
  justify-content: end;
  overflow-x: hidden;
  color: white;
}
.html-form body main .main-config .medioPago-cerrarSesion .desaparecerTarjeta {
  display: none;
}



/*# sourceMappingURL=style.css.map */
