main{
    .pelicula-principal{
        font-size: 16px;
        min-height: 40.62em;
        color:  #e4ffc6;
        background: linear-gradient(0deg, rgba(74,74,74,0.5) 58%, rgba(228,255,198,0.5)), url(../imagenes/avatar.jpg);
        background-size: cover;
        background-position:top;
        display: flex;
        align-items: end;
        padding: 10px;
        .contenedor{

            .titulo{
                font-weight: 600px;
                font-size: 50px;
                margin-bottom: 10px;
                margin-left: 20px;
            }
            .descripcion{
                font-weight: normal;
                font-size: 1em;
                line-height: 1.75em;
                max-width: 50%;
                margin-bottom: 15px;
                margin-left: 20px;
            }
            .boton{
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                border-radius: 0.31em;;
                color: #e4ffc6;
                cursor: pointer;
                transition: .3s ease;
                font-size: 1.12em;
                padding: 15px;
                margin: 20px;

                i{
                    margin-right: 10px;
                }
            }

            .boton:hover{
                background-color: #e4ffc6;
                color: #4A4A4A;
            }
        }
    }
}